@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap');

body {
    background-color: #EEF1E0;
    margin: 0;
}

/* =============== Navbar ================= */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.navbar-flex {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #5F6B55;
    border-radius: 80px;
    padding: 6px;
}

.size-logo {
    width: 245px;
    height: 52px;
}

.slider-menu {
    display: flex;
    gap: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    padding: 16px;
}

/* ============== Header ================= */
.header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.content-left {
    width: 649px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.content-left p {
    font-family: poppins;
    font-size: 24px;
    line-height: 129%;
    color: #5F6B55;
}

.size-img {
    width: 521px;
    height: 102px;
}

.btn-header {
    width: 230px;
    padding: 12px;
    border-radius: 50px;
    background-color: #5F6B55;
}

.btn-header a {
    font-family: poppins;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ========= SLIDER ============ */
.content-slider {
    text-align: center;
}

h1 {
    font-family: Poppins;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 2%;
    color: #5F6B55;
    margin: 40px;
}

.description {
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 10px;
    padding: 12px;
}

.menu a {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    color: #5F6B55;
}

.menu a:hover {
    background-color: #5F6B55;
    color: #FFF;
    border-radius: 50px;
    overflow: hidden;
    transition: color 0.8s ease;
}

.slider {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.bg-img-slider img {
    width: 420px;
    height: 520px;
    height: auto;
    border-radius: 20px;
}

.description ul {
    list-style: none;
    padding: 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description .service-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: poppins;
    font-size: 28px;
    font-weight: 400;
    color: #5F6B55;
}

.description .btn-slide {
    display: inline-block;
    width: 230px;
    margin: 0 0 24px 24px;
    padding: 12px;
    background-color: #5F6B55;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
}

/* ============= ABOUT ME ================= */

.container-about-me {
    padding-top: 160px;
    position: relative;
}

.bg-img-about-me img{
    width: 100%;
    position: absolute;
    border-radius: 60px;
    z-index: 0;
    top: 0;
    left: 0;
    margin-top: 160px;
}

.text-about-me {
    position: absolute;
    margin-top: 1540px;
    background-color: #5F6B55;
    padding: 100px;
    border-radius: 60px;
}

.text-about-me p {
    font-family: Poppins;
    font-size: 32px;
    color: #FFF;
    line-height: 46px;
}
